name: Image build flow
run-name: ${{ github.actor }} is learning GitHub Actions
on: [ push ]
jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: catthehacker/ubuntu:act-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login local registry
        uses: docker/login-action@v3
        with:
          registry: harbor.ksilianov.xyz
          username: 'admin'
          password: ${{ secrets.LOCAL_CONTAINER_REGISTRY_PASSWORD }}
      - name: Login dockerhub
        uses: docker/login-action@v3
        with:
          username: kirillsilianov
          password: ${{ secrets.GLOBAL_CONTAINER_REGISTRY_PASSWORD }}
      - name: Build push local
        run: make build_load_local
      - name: Build bush global
        run: make build global